{% load static %}
<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'fontawesome-free-6.6.0-web/css/fontawesome.css' %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css"  rel="stylesheet" />
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp,container-queries"></script>
  <title>Catalogue | Tots World</title>
  
  <script>
    tailwind.config = {
      theme: {
        extend: {
          colors: {
            bubblegum: '#ffd3db',
            cream : '#fffdf9',
          },
          fontFamily: {
            'raleway': ['Raleway', 'sans-serif'],
          },
          screens: {
            'sm': '640px',
            // => @media (min-width: 640px) { ... }
      
            'md': '768px',
            // => @media (min-width: 768px) { ... }
      
            'lg': '1024px',
            // => @media (min-width: 1024px) { ... }
      
            'xl': '1280px',
            // => @media (min-width: 1280px) { ... }
      
            '2xl': '1536px',
            // => @media (min-width: 1536px) { ... }
          },
        }
      }
    }
  </script>
</head>
<body class="">
  
  <a href="https://wa.me/+919205901243" target="_blank" class="z-10 fixed bottom-5 right-5 bg-green-500 hover:bg-green-600 text-white p-3 rounded-full shadow-lg">
    <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
      <path stroke-linecap="round" stroke-linejoin="round" d="M20.49 19.74L18.5 21.74A2.25 2.25 0 0115.45 21l-1.7-1.7a2.25 2.25 0 01-.6-1.93c.1-.6.41-1.15.9-1.5l1.7-1.14a2.25 2.25 0 01.93-.3c.61-.02 1.22.1 1.78.3a2.25 2.25 0 011.04 1.06l.9 1.78a2.25 2.25 0 01-.02 2.25zM3.6 4.36A10.84 10.84 0 0117.6 20.5L16 19.14a8.25 8.25 0 10-8.7-8.7L4.6 4.36a10.84 10.84 0 01-.98-9.28L2.07 4.26a8.5 8.5 0 1013.33 13.33l2.24 2.24c-2.4 2.4-6.29 2.4-8.7 0l-4.54-4.53a8.48 8.48 0 01-2.24-2.24L.36 3.5A10.84 10.84 0 013.6 4.36z"/>
    </svg>
  </a>
  
  <header class="container px-5 py-2 mx-auto flex justify-between items-center">
    <h2 class="text-2xl font-raleway uppercase text-gray-900 sm:text-3xl">{{ website_info.title }}</h2>
    <img class="h-12 md:h-12" src="{% static 'img/totsworld-logo.png' %}" alt="Logo">
  </header>
  
        <section class="container mx-auto px-4 lg:px-8 py-2">
            <div class="flex justify-center items-center">
              <div class="mx-auto max-w-screen-xxl py-8 sm:py-12">
                <div class="flex flex-col justify-center items-center space-y-10">
                  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 w-full">
    
                    <div class="relative group flex justify-center items-center">
                      <img class="h-full w-full object-cover" src="{% static 'img/totsworld.png' %}" loading="lazy" alt="tots world kids collection" />
                      </div>
    
                    <div class="bg-zinc-100 flex flex-col py-4 md:space-y-8 md:mt-0">
                      <div class="h-auto justify-center items-center px-12 mx-auto my-auto">
                        <h4 class="text-left text-3xl font-raleway uppercase md:text-9xl">{{ website_info.title }}</h4>
                        <p class="text-left font-raleway text-lg py-8">{{ website_info.description }}</p>
                      </div>
                    
                    </div>
                  </div>
              </div>
            </section>
            
            <section class="container mx-auto px-4 lg:px-8 py-4">
              <header class="text-center container-2xl mx-8 m-4">
                <h2 class="text-3xl font-raleway uppercase sm:text-3xl">Tots World Collection</h2>
                <p class="font-xl font-"></p>
              </header>
              <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 sm:gap-x-4 md:gap-x-8 w-full">
                {% for item in items|slice:":3" %}
                <a href="{% url 'catalogue-detail' item.pk %}">
                <div class="relative group justify-center items-center h-full">
                  <div id="default-carousel" class="relative w-full" data-carousel="slide">
                    <!-- Carousel wrapper -->
                    <div class="relative h-56 overflow-hidden md:h-96">
                         <!-- Item 1 -->
                         {% for item in item.get_slides %}
                        <div class="hidden duration-700 ease-in-out" data-carousel-item>
                            <img src="{{ item.image.url }}" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
                        </div>
                        {% endfor %}
                    </div>
                    <!-- Slider indicators -->
                    <div class="absolute z-30 flex -translate-x-1/2 bottom-5 left-1/2 space-x-3 rtl:space-x-reverse">
                        <button type="button" class="w-3 h-3 rounded-full" aria-current="true" aria-label="Slide 1" data-carousel-slide-to="0"></button>
                        <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 2" data-carousel-slide-to="1"></button>
                    </div>
                    <!-- Slider controls -->
                </div>
                
                  <!--<img class="h-1/2 w-full object-center object-cover" src="{{ item.get_thumbnail.image.url }}" alt="{{item.description}}" />-->
                  <button class="dark:bg-gray-800 dark:text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-400 left-0 top-10 z-10 absolute text-base font-medium leading-none text-gray-800 py-3 w-36 bg-white">
                    {{ item.title }}
                  </button>
                  <div class="text-center bg-zinc-100 space-y-4 md:space-y-8 py-4 md:mt-0 sm:hidden md:block">
                    <div class="mx-auto my-auto p-8">
                    <h4 class="text-3xl font-raleway uppercase sm:text-3xl">{{ item.title }}</h4>
                        <p class="font-raleway text-lg py-12">
                          {{ item.description }}
                        </p>
                      </div>
                  </div>
                </div>
              </a>
              {% endfor %}

              </div>
            </section>
            <section class="container mx-auto px-4 lg:px-8 py-4">
              <div class="flex justify-center items-center">
                <div class="mx-auto max-w-screen-xxl">
                  <div class="flex flex-col justify-center items-center">
                    {% for item in items|slice:"3:4" %}
                    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 w-full gap-x-8">
      
                      <div class="relative group flex justify-center items-center">
                        <img class="object-center object-cover h-full w-full" src="https://totsworld.co.in/media/catalogueimage/9007935d02434257b8d019b93d21eb19.jpg" loading="lazy" alt="girl-image" />
                        <button class="dark:bg-gray-800 dark:text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-400 bottom-4 z-10 absolute text-base font-medium leading-none text-gray-800 py-3 w-36 bg-white">
                          {{item.title}}
                        </button>
                        </div>
      
                      <div class="bg-zinc-100 flex flex-col space-y-4 md:space-y-8 py-4 md:mt-0">
                        <div class="justify-center items-center m-2">
                          <div class="justify-center items-center mx-auto my-auto">
                            <h4 class="text-center text-3xl font-raleway uppercase md:text-9xl">{{item.title}}</h4>
                            <p class="text-center font-raleway text-lg">
                              {{item.description}}
                            </p>
                          </div>
                        </div>
                    
                      </div>
                    </div>
                    {% endfor %}

                </div>
              </section>
              <section class="container mx-auto px-4 py-4">
                <header class="text-center container-2xl mx-8 py-8">
                  <h1 class="text-3xl font-raleway uppercase sm:text-3xl">Collection</h2>
                </header>
                <div class="flex justify-center items-center">
                  <div class="mx-auto max-w-screen-xxl py-4 sm:py-4">
                    <div class="flex flex-col justify-center items-center w-full">
                      {% for item in items|slice:"4:7" %}
                          <!-- Alternate between flex-row and flex-row-reverse based on the loop index -->
                           <a href="{% url 'catalogue-detail' item.pk %}">
                          <div class="flex flex-col my-4 md:my-0 {% if forloop.counter|divisibleby:2 %}md:flex-row-reverse{% else %}md:flex-row{% endif %} w-full">
                            
                            <div class="relative group flex justify-center items-center">
                              <img class="h-full w-full object-cover" src="{{item.get_thumbnail.image.url }}" loading="lazy" alt="{{item.title}}" />
                              <button class="dark:bg-gray-800 dark:text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-400 bottom-4 z-10 absolute text-base font-medium leading-none text-gray-800 py-3 w-36 bg-white">
                                {{item.title}}
                              </button>
                            </div>
            
                            <div class="bg-zinc-100 flex flex-col py-4 space-y-4 md:space-y-8 md:mt-0">
                              <div class="h-auto justify-center items-center px-12 mx-auto my-auto">
                                <h4 class="text-left text-3xl font-raleway uppercase md:text-9xl">{{item.title}}</h4>
                                <p class="text-left font-raleway text-lg py-8">
                                {{item.description}}
                                </p>
                              </div>
                            
                            </div>
                          
                          </div>
                        </a>
                        {% endfor %}
                      
                      
                  </div>
                </section>
                <section class="font-raleway">
                  <div class="relative w-full group">
                    <!-- Full-width Image -->
                    <img
                      class="w-full h-[600px] object-cover"
                      src="{% static 'img/categories/category2.jpeg' %}" 
                      alt="Contact Image"
                    />
                  
                    <!-- Contact Details (Hidden by default, appears on hover) -->
                    <div
                    class="absolute w-[400px] h-[400px] inset-0 mx-auto my-auto bg-white text-dark text-center p-4"
                  >
                    <div
                      class="flex flex-col justify-center items-center text-dark text-center p-4"
                    >
                      <h3 class="text-2xl font-bold mb-2">How To Reach Us</h3>
                      <p class="mb-1">Phone: {{ website_info.contact_phone }}</p>
                      <p class="mb-1">Email: {{ website_info.contact_email }}</p>
                      <p>Address: {{ website_info.contact_address }}</p>
                    </div>
                  </div>
                  </div>
                  
                </section>
                <footer class="font-raleway py-8">
                  <div class="container mx-auto px-4">
                    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
                      <!-- Site Title -->
                      <div class="flex flex-col items-center md:items-start">
                        <h2 class="text-2xl mb-4">Tots World</h2>
                        <p class="">Your trusted source for baby products.</p>
                      </div>
                
                      <!-- Contact Information -->
                      <div class="flex flex-col items-center md:items-start">
                        <h3 class="text-lg mb-4">Contact Us</h3>
                        <p class="">Phone: {{ website_info.contact_phone }}</p>
                        <p class="">Email: {{ website_info.contact_email }}</p>
                        <p class="">Address: {{ website_info.contact_address }}</p>
                      </div>
                
                      <!-- Social Icons -->
                      <div class="flex flex-col items-center md:items-start">
                        <h3 class="text-lg mb-4">Follow Us</h3>
                        <div class="flex space-x-4">
                          <!-- Social Icons -->
                          <a href="#" class="">
                            <i class="fab fa-facebook-f"></i>
                          </a>
                          <a href="#" class="">
                            <i class="fab fa-twitter"></i>
                          </a>
                          <a href="#" class="">
                            <i class="fab fa-instagram"></i>
                          </a>
                          <a href="#" class="">
                            <i class="fab fa-linkedin-in"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                
                    <!-- Copyright Text -->
                    <div class="border-t border-gray-800 mt-8 pt-4 text-center">
                      <p class="text-sm">&copy; 2024 Tots World. All rights reserved.</p>
                    </div>
                  </div>
                </footer>
                
           <!-- <section class="container">
              <header class="text-center container-2xl mx-8 m-4">
                <h1 class="text-3xl font-raleway uppercase sm:text-3xl">How To Reach Us</h2>
              </header>
              <div class="max-w-sm mx-auto bg-white shadow-lg overflow-hidden w-full">
                <div class="relative justify-center items-center px-12 mx-auto my-auto">
                <div class="px-6 py-4">
                    <div class="font-bold text-xl mb-2">{{ website_info.title }}</div>
                    <p class="text-gray-700 text-base">{{ website_info.description }}</p>
                </div>
                <div class="px-6 pt-4 pb-2">
                    <h3 class="font-semibold text-lg">Contact Information</h3>
                    <p class="text-gray-600">
                      <strong>Address:</strong> {{ website_info.contact_address }}
                    </p>
                    {% if website_info.contact_email %}
                        <p class="text-gray-600">
                            <strong>Email:</strong> <a href="mailto:{{ website_info.contact_email }}" class="text-blue-600">{{ website_info.contact_email }}</a>
                        </p>
                    {% endif %}
                    {% if website_info.contact_phone %}
                        <p class="text-gray-600">
                            <strong>Phone:</strong> <a href="tel:{{ website_info.contact_phone }}" class="text-blue-600">{{ website_info.contact_phone }}</a>
                        </p>
                    {% endif %}
                </div>
              </div>
            </div>
            
            </section>-->
            
            <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
        </body>
        </html>